*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* HEADER */

header{
    position:fixed;
    background-color: #dedede;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 999;
}

#searchInput {
    position: absolute;
    height: 30px;
    width: 300px;
    top: 15px; /* Ajustez la position verticale selon vos besoins */
    right: 20px; /* Ajustez la position horizontale selon vos besoins */
}
#searchButton {
    position: absolute;
    background-color :#003693;
    height: 30px;
    width: 30px;
    top: 15px; /* Ajustez la position verticale selon vos besoins */
    right: 20px; /* Ajustez la position horizontale selon vos besoins */
}

header i{
    text-align: center;
    color: #fff;
    transform: scale(2);
}

header img{
    margin-top: auto;
    margin-left: 50px;
    width: 55;
    font-size: large;
}

header p{
    margin-left: 120px;
    top: 10px;
    color: #003693;
    transform: translateY(-35px);
}

header>a{
    color: black;
}





























/* FOOTER */

footer{
    position:relative;
    height: 130px;
    width: 106.1%;
    background-color: #dedede;
    bottom: 0;
    left: -4.5%;
    display: flex;
    justify-content: center;
    z-index: 999;
}

footer>*{
    bottom: 0;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer .lien{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .lien a {
    margin-right: 10px; /* Espacement entre les liens */
    margin-left: 10px;
    color: black;
    transform: translateY(-80px);
}

footer .lien img{
    width: 30;
    margin-left: 40px;
}

footer p{
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: xx-small;
}































/* SEPARATOR */

.separator{
    height: 1px;
    background-color: #003693;
    width: 100%;
    margin: 20px 0px;
}





















/* SIDEBAR */

.sidebar {
    position:fixed;
    top: 0;
    left: 0px;
    min-height: 115vh;
    width: 80px;
    background-color: #003693;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    z-index: 500;
}

@media (min-height: 100%) {
}

.sidebar.active{
    width: 250px;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    top: 70px;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .name{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transform: translateY(65px);
}

.sidebar.active .top .name{
    opacity: 1;
}

.sidebar .top .name i{
    opacity: 0;
}

.sidebar ul li{
    position: relative;
    list-style-type: none;
    top: 60px;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;   
}
.sidebar ul .cache{
    position: relative;
    list-style-type: none;
    top: 60px;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;  
    opacity: 0; 
    pointer-events: none;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover{
    background-color: #fff;
    color: #003693;
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.sidebar .nav-item{
    opacity: 0;
}
.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 1500;
    opacity: 0;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none;
}
  
.sidebar ul li .tooltip:hover{
    display: none;
}



























/*MAIN CONTENT*/
.main-content{
    position: relative;
    background-color: #f9f9f9;
    min-height: 105vh;
    top: 0;
    left: 62px;
    transition: all 0.5s ease;
    width: calc(100% - 42px);
    padding: 1rem;
    z-index: 1;
}

.main-content .voile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur du voile */
    z-index: 1;
    opacity: 0;
    pointer-events:none;
    transition: opacity 0.5s ease;
}

.sidebar.active ~ .main-content .voile {
    opacity: 1;
    pointer-events: all; /* Toujours permettre de cliquer à travers le voile */
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    margin-bottom: 90px;
    height: 100%;
}

.title { 
    width: 100%;
    font-size: x-large;
    color: #003693;
    position:relative;
    z-index: 10;
}

.title2 { 
    width: 100%;
    font-size: large;
    color: #003693;
    position:relative;
    z-index: 10;
}

























/*VIGNETTES*/

.vignette{
    justify-content:flex-start;
    display: flex;
    flex-wrap: wrap; /*pour que les éléments ne dépassent pas la largeur d'une fenêtre*/
    flex-direction: row; /* Les éléments sont affichés en colonne */
    text-align: center; /* Alignement du texte au centre */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.vignette a img{
    flex-basis: calc(25% - 25px);
    background-size: cover; /* l'image couvre entièrement la vignette*/
    box-sizing: border-box; /* Pour inclure les marges et les bordures dans la largeur spécifiée */
    margin: 10px;
    border: 1px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 256px;
    height:144px;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    transition: transform 0.3s ease;
}




















/*VIGNETTES PORTFOLIO*/

.vignette .city:hover,
.vignette .marvel:hover,
.vignette .jurassicpark:hover,
.vignette .space:hover,
.vignette .ninjago:hover,
.vignette .castle:hover,
.vignette .western:hover,
.vignette .christmas:hover,
.vignette .seize:hover,
.vignette .others:hover{
    transform: scale(1.05);
}

.vignette .city .description,
.vignette .marvel .description,
.vignette .jurassicpark .description,
.vignette .space .description,
.vignette .ninjago .description,
.vignette .castle .description,
.vignette .western .description,
.vignette .christmas .description,
.vignette .seize .description,
.vignette .others .description{
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
}

.img{
    text-align: center;
}

.img a img{
    display: inline-block;
    width: 50%;
    pointer-events: none;
}
























/*VIGNETTES MARVEL*/

.vignette .hulk:hover,
.vignette .spaghettis:hover,
.vignette .shangchi:hover,
.vignette .shamballa:hover,
.vignette .loki:hover,
.vignette .steve:hover,
.vignette .ironheart:hover,
.vignette .everest:hover,
.vignette .mark1:hover,
.vignette .timetravel:hover,
.vignette .snow:hover,
.vignette .void:hover,
.vignette .asgard:hover,
.vignette .morgan:hover,
.vignette .explorer:hover{
    transform: scale(1.05);
}

.vignette .hulk .description,
.vignette .spaghettis .description,
.vignette .shangchi .description,
.vignette .shamballa .description,
.vignette .loki .description,
.vignette .steve .description,
.vignette .ironheart .description,
.vignette .everest .description,
.vignette .mark1 .description,
.vignette .timetravel .description,
.vignette .snow .description,
.vignette .void .description,
.vignette .asgard .description,
.vignette .morgan .description,
.vignette .explorer .description{
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
}

.vignette .hulk .date,
.vignette .spaghettis .date,
.vignette .shangchi .date,
.vignette .shamballa .date,
.vignette .loki .date,
.vignette .steve .date,
.vignette .ironheart .date,
.vignette .everest .date,
.vignette .mark1 .date,
.vignette .timetravel .date,
.vignette .snow .date,
.vignette .void .date,
.vignette .asgard .date,
.vignette .morgan .date{
    color: #696969;
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
    font-size: small;
}


















/*VIGNETTES AUTRES*/

.vignette .buildinghouse:hover,
.vignette .explorer:hover{
    transform: scale(1.05);
}

.vignette .buildinghouse .description,
.vignette .explorer .description{
    width: 256px;
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
}

.vignette .buildinghouse .date,
.vignette .explorer .date{
    color: #696969;
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
    font-size: small;
}


























/*TIPS*/

.vignette .Tips:hover{
    transform: scale(1.05);
}

.vignette .Tips .description{
    width: 256px;
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
}

.vignette .Tips .date{
    color: #696969;
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
    font-size: small;
}





























/*VIGNETTES EXPO*/

.vignette_expo a img{
    flex-basis: calc(25% - 20px);
    background-size: cover; /* l'image couvre entièrement la vignette*/
    box-sizing: border-box; /* Pour inclure les marges et les bordures dans la largeur spécifiée */
    margin: 10px;
    border: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 128px;
    height:183px;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    transition: transform 0.3s ease;
}

.vignette_expo{
    display: flex;
    flex-wrap: wrap; /*pour que les éléments ne dépassent pas la largeur d'une fenêtre*/
    flex-direction: row; /* Les éléments sont affichés en colonne */
    text-align: center; /* Alignement du texte au centre */
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-right: 300px;
}










/*CONVENTIONS*/

.vignette_expo .bousies:hover,
.vignette_expo .divion:hover,
.vignette_expo .escaudoeuvres:hover{
    transform: scale(1.05);
}

.vignette_expo .bousies .description,
.vignette_expo .divion .description,
.vignette_expo .escaudoeuvres .description{
    width: 150px;
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
}

.vignette_expo .bousies .date,
.vignette_expo .divion .date,
.vignette_expo .escaudoeuvres .date{
    color: #696969;
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
    font-size: small;
}

.container-map{
    padding: 15px;
    width: 350px;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 120px;
    right: 30px;
    bottom: 30px;
    background-color: white;
    border-radius: 10px;
    padding-top: 35px;
    padding-bottom:35px;
}
.map-expo img{
    width: 100%;
    height: auto;
}












/* Style pour les affichages d'images */
.thumbnail {
    display: inline-block;
    margin: 0px;
}

.thumbnail-image {
    width: 160px;
    height: 90px;
    object-fit: cover;
}

/* Style pour la lightbox */
.lightbox {
    display: none; /* Modifier pour cacher par défaut */
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox {
    display: none;
    /* Le reste de tes styles pour la lightbox... */
}

.lightbox-content {
    top: 1;
    max-width: 80%;
    max-height: 80%;
}

.close {
    color: white;
    z-index: 9999;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}






















/*CONTACTS*/

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
  }

.square {
    width: 150px;
    height: 150px;
    background-color: #003693;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Les éléments sont affichés en colonne */
    justify-content: center;
    align-items: center;
    text-align: center; /* Alignement du texte au centre */
    transition: transform 0.3s ease;
}
  
.square:hover {
    transform: scale(1.1);
}
  
.square img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

.square p {
    margin-top: 10px; /* Espace entre l'image et le texte */
    color: white;
}























/*COMMENTS*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.comment-section {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 1200px;
    margin: auto;
}

.input-section, .display-section {
    width: 48%;
}

h2, h3 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

button {
    padding: 10px 20px;
    background-color: #003693;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color:#333;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comment p {
    margin: 5px 0;
}

.comment .name {
    font-weight: bold;
    resize: none;
}

.comment .date {
    font-size: 0.8em;
    color: #999;
}