*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* HEADER */

header{
    position:absolute;
    background-color: #dedede;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#searchInput {
    position: absolute;
    height: 30px;
    width: 300px;
    top: 15px; /* Ajustez la position verticale selon vos besoins */
    right: 20px; /* Ajustez la position horizontale selon vos besoins */
}
#searchButton {
    position: absolute;
    background-color :#003693;
    height: 30px;
    width: 30px;
    top: 15px; /* Ajustez la position verticale selon vos besoins */
    right: 20px; /* Ajustez la position horizontale selon vos besoins */
}

header i{
    text-align: center;
    color: #fff;
    transform: scale(2);
}

header img{
    margin-top: auto;
    margin-left: 50px;
    width: 55;
    font-size: large;
}

header p{
    margin-left: 120px;
    top: 10px;
    color: #003693;
    transform: translateY(-35px);
}

header>a{
    color: black;
}











/* FOOTER */

footer{
    position:relative;
    height: 130px;
    width: 100%;
    background-color: #dedede;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

footer>*{
    bottom: 0;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer .lien{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .lien a {
    margin-right: 10px; /* Espacement entre les liens */
    margin-left: 10px;
    color: black;
    transform: translateY(-80px);
}

footer .lien img{
    width: 30;
    margin-left: 40px;
}

footer p{
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: xx-small;
}








/* SEPARATOR */

.separator{
    height: 1px;
    background-color: #003693;
    width: 100%;
    margin: 20px 0px;
}











/* SIDEBAR */

.sidebar {
    position: absolute;
    top: 60;
    left: 0px;
    min-height: 115vh;
    width: 80px;
    background-color: #003693;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

@media (min-height: 100%) {
}

.sidebar.active{
    width: 250px;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .name{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .name{
    opacity: 1;
}

.sidebar .top .name i{
    opacity: 0;
}

.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;   
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover{
    background-color: #fff;
    color: #003693;
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.sidebar .nav-item{
    opacity: 0;
}
.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 1500;
    opacity: 0;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none;
}
  
.sidebar ul li .tooltip:hover{
    display: none;
}











/*MAIN CONTENT*/
.main-content{
    position: relative;
    background-color: #ffffff;
    min-height: 105vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
    margin-bottom: 90px;
    height: 100%;
}

.title { 
    width: 100%;
    font-size: x-large;
    color: #003693;
    position:relative;
    z-index: 900;
}

.title2 { 
    width: 100%;
    font-size: large;
    color: #003693;
    position:relative;
    z-index: 900;
}











/*HOME*/
/*STATS*/

.gallery-stats {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 10%;
    height: 50%;
}

.stats {
    width: 200px;
    height: 200px;
    background-color: #003693; /* Remplacez 'votre-image.jpg' par le chemin de votre image */
    background-size: cover; /* Pour s'assurer que l'image couvre tout l'arrière-plan */
    background-repeat: no-repeat; /* Pour éviter que l'image se répète */
    background-position: center; /* Pour centrer l'image */
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Les éléments sont affichés en colonne */
    justify-content: center;
    align-items: center;
    text-align: center; /* Alignement du texte au centre */
    transition: transform 0.3s ease;
}
  
.stats:hover {
    transform: scale(1.1);
}

.stats .number {
    font-size: xx-large;
    color: white;
}

.stats p {
    color: white;
    margin-top: 10px; /* Espace entre le nombre et le texte */
}




/*LEXICON*/

.lexicon>ul{
    text-decoration: none;
}

.lexicon ul li{
    margin: 10;
    font-weight: 600;
    list-style: none;
}




/*COMMENTS*/

.commentaires{
    background-color: #ccc;
    margin-top: 20px;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  
 #comment-form button:hover {
    background-color: #003693;
}

.commentaires label,
.commentaires textarea,
.commentaires input {
    margin-bottom: 10px;
}

.commentaires button {
    margin-top: 10px;
}
  












.vignette {
    display: flex;
    flex-wrap: wrap; /*ùpour que les éléments ne dépassent pas la largeur d'une fenêtre*/
    flex-direction: row; /* Les éléments sont affichés en colonne */
    text-align: center; /* Alignement du texte au centre */
}

.vignette a img{
    flex-basis: calc(25% - 20px);
    background-size: cover; /* l'image couvre entièrement la vignette*/
    box-sizing: border-box; /* Pour inclure les marges et les bordures dans la largeur spécifiée */
    margin: 10px;
    border: 1px;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 256px;
    height:144px;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    transition: transform 0.3s ease;
}






/*PORTFOLIO*/

.vignette .city:hover,
.vignette .marvel:hover,
.vignette .jurassicpark:hover,
.vignette .space:hover,
.vignette .ninjago:hover,
.vignette .castle:hover,
.vignette .western:hover,
.vignette .christmas:hover,
.vignette .seize:hover{
    transform: scale(1.05);
}

.vignette .city .description,
.vignette .marvel .description,
.vignette .jurassicpark .description,
.vignette .space .description,
.vignette .ninjago .description,
.vignette .castle .description,
.vignette .western .description,
.vignette .christmas .description,
.vignette .seize .description{
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
}













/*TIPS*/

.vignette .rock:hover{
    transform: scale(1.05);
}

.vignette .rock .description,
.vignette .city .description,
.vignette .marvel .description,
.vignette .jurassicpark .description,
.vignette .space .description,
.vignette .ninjago .description,
.vignette .castle .description,
.vignette .western .description,
.vignette .christmas .description
.vignette .seize .description{
    width: 256px;
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
}

.vignette .rock .date,
.vignette .city .date,
.vignette .marvel .date,
.vignette .jurassicpark .date,
.vignette .space .date,
.vignette .ninjago .date,
.vignette .castle .date,
.vignette .western .date,
.vignette .christmas .date,
.vignette .seize .date{
    color: #696969;
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
    font-size: small;
}










/*EXHIBITIONS*/

.vignette .bousies:hover,
.vignette .divion:hover{
    transform: scale(1.05);
}

.vignette .bousies .description,
.vignette .divion .description{
    width: 256px;
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
}

.vignette .bousies .date,
.vignette .divion .date{
    color: #696969;
    text-align: left;
    overflow-wrap: break-word;
    transform: translateX(12px);
    font-size: small;
}









/*CONTACTS*/

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
  }

.square {
    width: 150px;
    height: 150px;
    background-color: #003693;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Les éléments sont affichés en colonne */
    justify-content: center;
    align-items: center;
    text-align: center; /* Alignement du texte au centre */
    transition: transform 0.3s ease;
}
  
.square:hover {
    transform: scale(1.1);
}
  
.square img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

.square p {
    margin-top: 10px; /* Espace entre l'image et le texte */
    color: white;
}