header{
    position:fixed;
    background-color: rgb(230, 230, 230);
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#searchInput {
    position: fixed;
    top: 30px; /* Ajustez la position verticale selon vos besoins */
    right: 20px; /* Ajustez la position horizontale selon vos besoins */
}
#searchButton {
    position: fixed;
    top: 30px; /* Ajustez la position verticale selon vos besoins */
    right: 20px; /* Ajustez la position horizontale selon vos besoins */
}
.content {
    margin-top: 80px; /* Assure que le contenu n'est pas masqué par le header fixe */
}

header>*{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10px;
}

header img{
    margin-top: auto;
    margin-left: 100px;
    width: 50;
}

header>ul{
    right: 0;
    text-decoration: none;
}

header>a{
    color: black;
}

header a:nth-child(2) {
    font-size: 20;
    font-weight: 600;
    margin-left: 100;
}

header>ul li {
    margin: 10;
    font-weight: 600;
    display: inline-block;
    list-style: none;
    transition: transform 0.3s ease;
}

header>ul li :hover{
    background-color: rgba(red, green, blue, alpha);
    list-style: none;
    transform: scale(1.1);
}






footer{
    background-color: rgb(230, 230, 230);
    position:relative;
    height: 80;
    top: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer>*{
    position: absolute;
    bottom: 100%;
    transform: translateY(125%);
    margin: 0 30px;
}

footer img{
    width: 30;
}

footer>a{
    color: black;
}

footer a:nth-child(1) {
    margin-left: 105;
    transform: translateY(50%);
    transform: translateY(55px);
}

footer a:nth-child(2) {
    margin-left: 140;
    transform: translateY(50%);
    transform: translateY(55px);
}

footer a:nth-child(3) {
    margin-left: 175;
    transform: translateY(50%);
    transform: translateY(55px);
}

footer a:nth-child(4) {
    margin-left: 210;
    transform: translateY(50%);
    transform: translateY(55px);
}

footer a:nth-child(5) {
    margin-left: 255;
    font-weight: 100;
    transform: translateY(50%);
    transform: translateY(50px);
}





.separator{
    height: 1px;
    background-color: rgb(72, 173, 255);
    width: 100%;
    margin: 20px 0px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
    margin-bottom: 90px;
}
  
.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 60;
    left: 0px; /* Initial position, fdeployed */
    background-color: #ffffff;
    padding-top: 20px;
    transition: left 0.3s; /* Smooth transition effect */
}
  
.sidebar a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: rgb(88, 88, 88);
}
  
.sidebar a:hover {
    background-color: #d3d3d3;
}
  
.sidebar a.active {
    background-color: #3d8af6;
}

.sidebar ul{
    margin: 0;
}

.sidebar ul li{
    margin: 0;
    list-style: none;
}
  
.content {
    margin-left: 0;
    padding: 20px;
}
  
.toggle-btn {
    background-color: transparent; /* Fond transparent */
    border: none; /* Supprimer la bordure */
    cursor: pointer;
    position: fixed;
    top: 30px;
    left: 0px;
}


.picture-title { 
    width: 100%;
    height: 100px;
    background-color:rgb(83, 129, 229);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    position:relative;
    z-index: 900;
}

.pagetitle-text{
    text-align: center;
    color: #ffffff;
    transform: translateY(30px);
}

.index{
    margin-left: 250px;
    margin-right: 100px;
}

.index>ul{
    text-decoration: none;
}

.index ul li{
    margin: 10;
    font-weight: 600;
    list-style: none;
    transition: background-color 0.5s ease-in-out ;
}

.exhibitions{
    margin-left: 250px;
    margin-right: 100px;
}

.exhibitions>ul{
    text-decoration: none;
}

.exhibitions ul li{
    margin: 10;
    font-weight: 600;
    display: inline-block;
    list-style: none;
    transition: background-color 0.5s ease-in-out ;
}

.bousies{
    margin-left: 250px;
    margin-right: 100px;
}

.divion{
    margin-left: 250px;
    margin-right: 100px;
}

.portfolio{
    margin-left: 250px;
    margin-right: 100px;
}

.jurassicpark{
    margin-left: 250px;
    margin-right: 100px;
}

.marvel{
    margin-left: 250px;
    margin-right: 100px;
}

.city{
    margin-left: 250px;
    margin-right: 100px;
}

.contacts{
    margin-left: 250px;
    margin-right: 100px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  
.square {
    width: 150px;
    height: auto;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Les éléments sont affichés en colonne */
    justify-content: center;
    align-items: center;
    text-align: center; /* Alignement du texte au centre */
    transition: transform 0.3s ease;
}
  
.square:hover {
    transform: scale(1.1);
}
  
.square img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

.square p {
    margin-top: 10px; /* Espace entre l'image et le texte */
}