header{
    position:fixed;
    background-color: rgb(230, 230, 230);
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.content {
    margin-top: 80px; /* Assure que le contenu n'est pas masqué par le header fixe */
}

header>*{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 60px;
}

header img{
    width: 50;
}

header>ul{
    right: 0;
    text-decoration: none;
}

header>a{
    color: black;
}

header a:nth-child(2) {
    font-size: 20;
    font-weight: 600;
    margin-left: 100;
}

header>ul li {
    margin: 10;
    font-weight: 600;
    display: inline-block;
    list-style: none;
    transition: transform 0.3s ease;
}

header>ul li :hover{
    background-color: rgba(red, green, blue, alpha);
    list-style: none;
    transform: scale(1.1);
}


footer{
    background-color: rgb(230, 230, 230);
    position:relative;
    height: 80;
    top: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer>*{
    position: absolute;
    bottom: 100%;
    transform: translateY(125%);
    margin: 0 30px;
}

footer img{
    width: 50;
}

footer>a{
    color: black;
}

footer a:nth-child(1) {
    margin-left: 30;
}

footer a:nth-child(2) {
    margin-left: 85;
}

footer a:nth-child(3) {
    margin-left: 140;
}

footer a:nth-child(4) {
    margin-left: 195;
}

footer a:nth-child(5) {
    margin-left: 300;
    font-weight: 100;
    transform: translateY(50px);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
    margin-bottom: 90px;
    background-color: whitesmoke;
}

.exhibitions>ul{
    text-decoration: none;
}

.exhibitions ul li{
    margin: 10;
    font-weight: 600;
    display: inline-block;
    list-style: none;
    transition: background-color 0.5s ease-in-out ;
}

.index{
    margin-left: 50px;
    margin-right: 50px;
}

.pagetitle{
    text-align: center;
}

.index>ul{
    text-decoration: none;
}

.index ul li{
    margin: 10;
    font-weight: 600;
    list-style: none;
    transition: background-color 0.5s ease-in-out ;
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  
.square {
    width: 150px;
    height: auto;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Les éléments sont affichés en colonne */
    justify-content: center;
    align-items: center;
    text-align: center; /* Alignement du texte au centre */
    transition: transform 0.3s ease;
}
  
.square:hover {
    transform: scale(1.1);
}
  
.square img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

.square p {
    margin-top: 10px; /* Espace entre l'image et le texte */
}

.city{
    margin-left: 50px;
    margin-right: 50px;
}

.bousies{
    margin-left: 50px;
    margin-right: 50px;
}
.contacts{
    margin-left: 50px;
    margin-right: 50px;
}
.exhibitions{
    margin-left: 50px;
    margin-right: 50px;
}

.jurassicpark{
    margin-left: 50px;
    margin-right: 50px;
}

.marvel{
    margin-left: 50px;
    margin-right: 50px;
}

.portfolio{
    margin-left: 50px;
    margin-right: 50px;
}